{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Disclaimer</h1>
    <p>Welcome to Zenvibe!</p>
    <p>
        The information provided on this website is for educational purposes only and aims to promote mental well-being through yoga, breathing exercises, and related practices.
    </p>
    <p>
        This website may include links, images, videos, and articles sourced from third-party creators. All copyrights and trademarks are the property of their respective owners. We make every effort to ensure that all third-party content is properly credited and used with appropriate permissions, licensing, or under royalty-free agreements.
    </p>
    <p>
        If you believe any content on this site infringes on copyright or intellectual property rights, please contact us at <a href="mailto:zenvibeadmin@proton.me">zenvibeadmin@proton.me</a>. We will promptly address the matter upon verification.
    </p>
    <p>
        Zenvibe and its owners are not responsible for the accuracy, completeness, or reliability of the content provided, nor for any issues arising from the use of third-party links or resources. Users are encouraged to verify information independently and consult professionals where necessary.
    </p>
</div>
{% endblock %}
