{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>Welcome, {{ user.username }}</h1>
<div class="card">
    <div class="card-body">
        <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
        <p class="card-text"><strong>Date Joined:</strong> {{ user.date_joined|date:"F j, Y" }}</p>
    </div>
</div>

<h2 class="mt-4">Your Mood Tracking History</h2>
<ul>
    {% for result in user_quiz_results %}
        <li>
            <strong>{{ result.quiz.title }} - Score: {{ result.score }}</strong><br>
            <strong>Recommendations:</strong>
            <ul>
                {% for recommendation in result.recommendations.all %}
                    <li>{{ recommendation.text }}</li>
                {% endfor %}
            </ul>
        </li>
    {% empty %}
        <p>You have not taken any quizzes yet.</p>
    {% endfor %}
</ul>
{% endblock %}
