{% extends 'base.html' %}
{% load custom_template_tags %}
{% block style %}
<style>
    /* Content Section */

.user-avatar img {
    width: 40px;  /* Set width */
    height: 40px;  /* Set height */
    object-fit: cover;  /* Ensure the image maintains aspect ratio */
    border-radius: 50%;  /* Make it circular */
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.btn-primary {
    background-color: #90a4ba; /* Fitness blue */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #78909c; /* Lighter blue */
}


/* Mobile Optimization */
@media (max-width: 768px) {
    .content {
        justify-content: center;
    }
    .card {
        width: 100%;
    }
}

</style>
{% endblock %}
{% block content %}
<!-- Heading Section -->
<div class="container mt-5">
    <h1 class="text-center mb-4">Active Therapists/Coaches</h1>
    <p class="text-center mb-4"> Please connect with our certified therapists and coaches below. </p>

    <!-- Doctors List -->
    <div class="content">
        {% for doctor in doctors %}
        <div class="card">
            <div class="card-body">
                <div class="user-avatar">
                    {% if doctor.profile.profile_picture %}
                        <img src="{{ doctor.profile.profile_picture.url }}" alt="User Avatar" class="avatar-img">
                        <h5 class="card-title">
                            {% if user|recently_active_users %}
                            <i class="fa-solid fa-circle fa-2xs" style="color: #04f1aa;"></i>
                            {% else %}
                            <i class="fa-solid fa-circle fa-2xs" style="color: #e60f6c;"></i>
                            {% endif %}
                            {{ doctor.username }}
                        </h5>
                        <p>{{ doctor.profile.bio}}</p>
                        <a href="{% url 'conversation_detail' doctor.id %}" class="btn btn-primary">Start Conversation</a>
                    {% else %}
                    <i class="fa-regular fa-user"></i>
                        <h5 class="card-title">
                            {% if user|recently_active_users %}
                            <i class="fa-solid fa-circle" style="color: #04f1aa;"></i>
                            {% else %}
                            <i class="fa-solid fa-circle" style="color: #e60f6c;"></i>
                            {% endif %}
                            {{ doctor.username }}
                        </h5>
                        <p>{{ doctor.profile.bio}}</p>
                        <a href="{% url 'conversation_detail' doctor.id %}" class="btn btn-primary">Start Conversation</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
